@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h3, h5, h6, body{
  font-family: BlinkMacSystemFont, sans-serif, verdana;
  font-size: revert;
}

input:focus, textarea:focus {
  outline: none !important;
}

input {
  padding-left: 7px !important;
  margin-bottom: 0px !important;
}